<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>MACCS</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'fingerprints/css/app.css' %}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
</head>
<body>
{% include "fingerprints/include/header.html" with active="index" %}
<main>
    <section class="main-banner">
        <div class="main-banner__content">
            <h1 class="main-banner__title">Machine Learning in Drug Discovery</h1>
            <small class="main-banner__sub-title">
                We use Machine Learning for Prediction of Binding Free Energy
            </small>
            <div class="main-banner__buttons">
                <form action="{% url 'fingerprints:predict' %}">
                    <button class="button">Predict</button>
                </form>
            </div>
        </div>
    </section>
    <section class="about-project">
        <div class="about-project__main">
            <h3 class="section-title">About the project</h3>
            <div class="about-project__main__desc">
                <p class="about-project__main__desc__text">
                    This site can be used to generate fingerprints of molecules. It is
                    a course progect which is mentoring by UIIP.
                </p>
            </div>
            <div class="about-project__main__box"></div>
        </div>
        <img
                class="about_project__image"
                src="{% static 'fingerprints/images/photoholgic.png' %}"
        />
    </section>
    <section class="news">
        <div class="news__header">
            <h3 class="section-title">News</h3>
            <a class="button_link news__header__learn-more" href="{% url 'fingerprints:news' %}">
                Learn more
            </a>
        </div>
        <div class="news__content">
            {% for entry in news_entries %}
            {% include "fingerprints/include/news_preview.html" with news_entry=entry %}
            {% endfor %}
        </div>
    </section>
    <section class="contact-form">
        <h3 class="section-title">Contact us</h3>
        <form method="POST" action="{% url 'fingerprints:contact' %}" class="form contact-form__form">

            {% csrf_token %}

            <div class="form__field">
                <label class="form__field__label">First name*</label>
                <input name="first_name" class="form__field__input" type="text"/>
            </div>
            <div class="form__field">
                <label class="form__field__label">Second name</label>
                <input name="second_name" class="form__field__input" type="text"/>
            </div>
            <div class="form__field">
                <label class="form__field__label">E-mail*</label>
                <input name="email" class="form__field__input" type="email"/>
            </div>
            <div class="form__field">
                <label class="form__field__label">Message</label>
                <textarea name="message" class="form__field__textarea"></textarea>
            </div>
            <button class="button contact-form__button" type="submit">
                Send
            </button>
        </form>
    </section>
</main>
{% include "fingerprints/include/footer.html" with active="index" %}
<link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800;900&display=swap"
        rel="stylesheet"
/>
<script async src="{% static 'fingerprints/js/all.js' %}"></script>
</body>
</html>
