<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>MACCS</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'fingerprints/css/app.css' %}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
</head>
<body>
{% include "fingerprints/include/header.html" with active="news" %}
<main>
    <section class="page-banner">{{ news_entry.title }}</section>
    <section class="news-item-section">
        <article class="news-item-section__news">
            <div class="news-item-section__news__header">
                <span>{{ news_entry.author }}</span>
                <span>{{ news_entry.created_at|date:"d.m.Y" }}</span>
            </div>
            <div class="news-item-section__news__body">
                {{ news_entry.content|safe }}
            </div>
        </article>
    </section>
</main>
{% include "fingerprints/include/footer.html" with active="news" %}
<link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800;900&display=swap"
        rel="stylesheet"
/>
<script async src="{% static 'fingerprints/js/all.js' %}"></script>
</body>
</html>
